# ignore external dependencies
/dev/ext/

# ignore WIN32 intermediate files
/dev/src/ipch/
/dev/src/narcotics.VC.db
/dev/src/.vs
/dev/src/Debug/
/dev/src/Release/
/dev/src/libnarcotics/Debug/
/dev/src/libnarcotics/Release/
/dev/src/libnarcotics/libnarcotics.vcxproj.user
/dev/src/narcotic/Debug/
/dev/src/narcotic/GeneratedFiles/
/dev/src/narcotic/Release/
/dev/src/narcotic/multilang/narcotic_de.qm
/dev/src/narcotic/narcotic.vcxproj.user
/dev/src/narcotics.opensdf
/dev/src/narcotics.sdf
/dev/src/narcotics.suo
/dev/src/narcpep/Debug/
/dev/src/narcpep/Release/
/dev/src/narcpep/narcpep.vcxproj.user
/dev/src/narctransfer/Debug/
/dev/src/narctransfer/Release/
/dev/src/narctransfer/narctransfer.vcxproj.user
/dev/src/transfer2bfarm/Debug/
/dev/src/transfer2bfarm/Release/
/dev/src/transfer2bfarm/transfer2bfarm.vcxproj.user
/dev/src/narcoticsalerting/Debug/
/dev/src/narcoticsalerting/Release/

/dev/src/narcoticsalerting/Debug/
/dev/src/narcoticsalerting/Release/

#ignore AIX intermediate files
/dev/src/libnarcotics/Makefile
/dev/src/Makefile
/dev/src/libnarcotics/Makefile.Debug
/dev/src/libnarcotics/Makefile.Release
/dev/src/libnarcotics/debug/
/dev/src/libnarcotics/release/
/dev/src/narcoticsalerting/Makefile
/dev/src/narcoticsalerting/Makefile.Debug
/dev/src/narcoticsalerting/Makefile.Release
/dev/src/narcoticsalerting/debug/
/dev/src/narcoticsalerting/release/
/dev/src/narcoticsalerting/gitversioninfo.cpp
/dev/src/narcoticsalerting/gitversioninfo.h
/dev/src/narcpep/Makefile
/dev/src/narcpep/Makefile.Debug
/dev/src/narcpep/Makefile.Release
/dev/src/narcpep/debug/
/dev/src/narcpep/release/
/dev/src/narctransfer/Makefile
/dev/src/narctransfer/Makefile.Debug
/dev/src/narctransfer/Makefile.Release
/dev/src/narctransfer/debug/
/dev/src/narctransfer/release/
/dev/src/narcoticsalerting/debug/
/dev/src/narcoticsalerting/release/
/dev/src/transfer2bfarm/Makefile
/dev/src/transfer2bfarm/Makefile.Debug
/dev/src/transfer2bfarm/Makefile.Release
/dev/src/transfer2bfarm/debug/
/dev/src/transfer2bfarm/release/
/dev/src/transfer2bfarm/gitversioninfo.cpp
/dev/src/transfer2bfarm/gitversioninfo.h
/dev/src/*.suo
*.opendb
/export
